
<div class="container">
  <h1>Stupid Coaching</h1>
  <h2>Ask your coach anything:</h2>
  <form action="<%= answer_path%>" class="input-group mb-3">
    <input type="text" name="question" class="form-control">
    <input type="submit" value="Ask!" class="btn-primary" id="button-addon2">
  </form>
</div>
